
header {

}

nav {
    border: 5px dotted cadetblue;
    background-image: url(Images/stars-star-gazing.gif);
    height: 300px;
    
}

.food {
    border: 2px solid salmon;
    margin: 10px;
}


img {

    height: 300px !important;
    width: 400px !important;
}

body {
  background-image: url(Images/repeatingStarBackground.jpg);
  /*background-repeat: no-repeat;*/
  
}